name: Launch Scala Steward

on:
  schedule:
    - cron: '0 2 * * *' # Runs at 2:00 AM GMT every day
  workflow_dispatch:

jobs:
  scala-steward:
    runs-on: ubuntu-24.04
    name: Launch Scala Steward
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: sbt/setup-sbt@a627500d27445f8c5021755a439829b6e78e3358 # v1.1.15
      - uses: scala-steward-org/scala-steward-action@91f0a480668e574d7d1b413b19ee8240c56cd629 # v2.81.0
        with:
          github-app-id: ${{ secrets.APP_ID }}
          github-app-installation-id: ${{ secrets.APP_INSTALLATION_ID }}
          github-app-key: ${{ secrets.APP_PRIVATE_KEY }}
